<!-- Logo -->
<a href="/#/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini" style="font-size: 14px !important;"><b>Package Delivery App</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Package Delivery App</b>

      <!-- <img src="images/logo.png"  alt="logo" style="height:40px"/> --></span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
                    <i class="fa fa-user"></i>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
                        <img ng-show="displayImage" class="img-circle" src="assets/upload/adminProfile/{{displayImage}}" alt="User Image">
                        <img ng-hide="displayImage" class="img-circle" src="images/avatar5.png" alt="User Image">
                        <p>
                            {{displayName}}
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <a href="/#/profile"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="user-footer">
                        <a href="/#/profile"><i class="fa fa-lock"></i> Change Password</a>
                    </li>
                    <li class="user-footer">
                        <a href="javascript:void(0)" ng-click="logout()" ng-controller="loginController"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar" ng-click="logout()" ng-controller="loginController" title="Logout"><i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>
</nav>
