<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
            <img ng-show="displayImage" class="img-circle" src="assets/upload/adminProfile/{{displayImage}}" alt="User Image">
            <img ng-hide="displayImage" class="img-circle" src="images/user_default.jpg" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{displayName}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="searchText">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li ng-repeat="navs in nav | filter:searchText" ng-class="sideBar== '{{navs.activeText}}' ? 'active':'' ">
            <a href="{{navs.path}}">
                                <i class="fa {{navs.icon}}"></i> <span>{{navs.text}}</span>
                            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->
