<style type="text/css">
<.users-list>li img {
    height: 80px;
}

</style>
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <!--   <li class="active">Dashboard</li> -->
    </ol>
</section>
<div ng-if="loader==true">
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="small-box custom-small-bg bg-green">
                <div class="inner">
                    <h3>{{totalUser}}</h3>
                    <p>Total Users</p>
                </div>
                <div class="icon"> <i class="ion ion-person-add"></i></div>
                <a href="#/users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="small-box custom-small-bg bg-red">
                <div class="inner">
                    <h3>{{totalPackage}}</h3>
                    <p>Total Packages</p>
                </div>
                <div class="icon"><i class="ion ion-pie-graph"></i></div>
                <a href="#/package" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- -->
        <div class="col-xs-12 col-sm-6">
            <div class="small-box custom-small-bg bg-yellow">
                <div class="inner">
                    <h3>{{totalTraveller}}</h3>
                    <p>Total Travellers</p>
                </div>
                <div class="icon"><i class="ion ion-pie-graph"></i></div>
                <a href="#/travellers" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="small-box custom-small-bg bg-aqua">
                <div class="inner">
                    <h3>{{totalDeliveries}}</h3>
                    <p>Total Deliveries</p>
                </div>
                <div class="icon"><i class="fa fa-shopping-cart"></i></div>
                <a href="#/dealStatus" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- -->
    </div>
</section>
