<section class="content-header" ng-init="getAllUsers()">
  <h1>
    Packages
   <!--  <small>Customer Listing</small> -->
  </h1>
  <ol class="breadcrumb">
                <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Packages</li>                       
  </ol>
</section>
<div ng-if="loader==true">
  <div class="loader-image">
    <i class="fa fa-spinner fa-pulse fa-spin"></i>
  </div>
  <div class="loader-container"></div>
</div>

 <!-- Main content -->
    <section class="content">
      <div class="row">
         <div class="col-xs-12">
            <div class="">
               <div class="box box-primary">
                   <div class="box-body ">
                       <div class="clearfix"></div>
                          <div class="row">
                             <div class="col-xs-8">
                                <div ng-class="alerttype" ng-show="showmessage">
                                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}
                                </div>
                              </div>
                             
                          </div>

                         <div class="clearfix"></div> 
                           <form name="searchForm" novalidate ng-submit="getAllUsers()">
                            <div class="input-group">
                                <input type="text" id="ser" class="form-control" placeholder="Search term" name="searchTerm" ng-model="search" ng-change="getAllUsers()" required />
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="submit"  ng-click="getAllUsers()">
                                <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </form>
                         </div> 

             <div class="box-body table-responsive">
                <form role="form">
                                   
                 <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                  <colgroup>
                    <col width="2%"/>
                    <col width="13%"/>
                    <col width="15%"/>
                    <col width="20%"/>
                    <col width="15%"/>
                    <col width="12%"/>
                    <col width="7%"/>
                    <col width="7%"/>
                  </colgroup>
               <tr ng-repeat = "user in $data">
                    <td header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[user._id]" ng-change="toggleSelection(user._id)" class="list{{tableParams.page()}}" />
                      </td>

                   <td data-title="'First Name'" sortable="'first_name'" filter="{first_name:'text'}" align="left">{{user.first_name}}</td>

                  <td data-title="' Last Name'" sortable="'last_name'" filter="{last_name:'text'}" align="left">{{user.last_name}}</td>

                   <td data-title="'Email'" sortable="'email'" filter="{email:'email'}" align="left">{{user.email| capitalize}}</td>

                    

                   <td data-title="'Phone'">{{user.phone_no}}</td> 
                 
                    <td data-title="'Created date'" sortable="'created_date'" filter="{created_date:'text'}" align="left">{{user.created_date |date}}</td>

                    <td data-title="'Status'" sortable="'enable'" align='left'><div ng-if="user.enable==true"><img  class="cursur" src='images/enable.png' border='0'  ng-click="performAction1(user._id,2)"></div>

                    <div ng-if="user.enable==false"><img  class="cursur"  src='images/disable.png' border='0'  ng-click="performAction1(user._id,1)"></div></td>

                    <td data-title="'Action'" align="left"><i  class="cursur fa fa-trash-o" ng-click="delete(user._id)"></i></td>
               </tr>
                <tr ng-if="$data.length!=0">
                  <td colspan="2">
                     <div class="form-group">
                       <select class="form-control" name='selectedAction' id='selectedAction'>
                            <option value="0">Select</option>
                            <option value="1">Enable</option>
                            <option value="2">Disable</option>
                            <option value="3">Delete</option>
                        </select> 
                      </div>
                    </td>
                  <td colspan='7'><input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()"></td>
             </tr>  
           <tr ng-if="$data.length==0"><td colspan="6" align="center"><b>No record found</b></td></tr>
       </table> 
               </form>  
             </div>
           </div><!-- /.box-body -->
         </div><!-- /.box -->
        </div>
     </div>

 </section><!-- /.content -->
            


                 
   <!-- page script -->
 <script type="text/ng-template" id="headerCheckbox.html">
   <input type="checkbox" data-ng-click="toggleSelection(0,tableParams.page())" ng-model="checkboxes.checked" class="select-all" value="" />
    </script>
