   <style type="text/css">
  .content-wrapper, .right-side, .main-footer {
    margin-left: 0px !important;
    transition: transform 0.3s ease-in-out 0s, margin 0.3s ease-in-out 0s;
    z-index: 820;
}
</style>      
<div class="login-box" data-ng-init="noHeader()">
  <div class="login-logo" ng-show='userLoggedIn==false'>
   <!-- <img src="images/logo.png"  alt="logo" style="height:40px"/> -->
  <b><h2>Package Delivery App</h2></b>
  </div>
  <!-- /.login-logo -->
  
  <div class="login-box-body" ng-show='userLoggedIn==false'>
    <p class="login-box-msg">Forgot Password</p>

    <form name="login_form" role="form" id="login_form" novalidate>
    <!-- <span style="color:red" ng-show="error" >
                            {{error}}
                    </span> -->

       <div ng-class="alerttype" ng-show="showmessage">
                                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
      <div class="form-group has-feedback">
        <input type="text" name="username" class="form-control" placeholder="Email" ng-model='username' required />
                        <span style="color:red" ng-show="login_form.username.$dirty && login_form.username.$invalid">
<span ng-show="login_form.username.$error.required">Email is required.</span>
</span>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      
      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block btn-flat"name="resend" ng-click="forgot_password()" ng-disabled="login_form.$invalid">Reset Password</button>    
        </div>
        <div class="col-xs-6"> <a href="/#/login" class="btn btn-primary btn-block btn-flat ">Cancel</a></div>
        <!-- /.col -->
      </div>
    </form>

    
   

  </div>
  <!-- /.login-box-body -->
</div>

               


           
      
