<html>
	<body>
		<table border="0" cellpadding="0" cellspacing="0" style="width:899px">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px">
				<tbody>
					<tr>
						<td style="background-color:#1981ba">
						<table align="center" border="0" cellpadding="15" cellspacing="0" style="width:594px">
							<tbody>
								<tr>
									<td><h2><center><img src="http://52.34.207.5:4106/images/logo2.png"  alt="logo" style="height:90px;width:80px"/></center></h2></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table border="0" cellpadding="10" cellspacing="0" style="width:594px">
							<tbody>
								<tr>
									<td>
									<table border="0" cellpadding="10" cellspacing="0" style="width:570px">
										<tbody>
											<tr>
												<td>
												<p>Dear {{name}},</p>

												<p>Congratulations,your account has been activated.</p>
												
												
																					
												<p>We are looking forward to offering you our best service.</p>

												</td>
											</tr>
										</tbody>
									</table>

									<table border="0" cellpadding="10" cellspacing="0" style="width:570px">
										<tbody>
											<tr>
												<td>
												<p>
												Best Regards,</p>

												<p>Bridgit Team</p>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td style="background-color:#1981ba">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>
