<html>
	<body>
		<table border="0" cellpadding="0" cellspacing="0" style="width:899px">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:300px">
				<tbody>
					<tr>
						<td style="background-color:0000">
						<table align="center" border="0" cellpadding="2" cellspacing="0" style="width:594px">
							<tbody>
								<tr>
									<td><h2><center><img src="http://52.34.207.5:4106/images/logo2.png"  alt="logo" style="height:100px;width:90px"/></center></h2></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table border="0" cellpadding="10" cellspacing="0" style="width:594px">
							<tbody>
								<tr>
									<td>
									<table border="0" cellpadding="10" cellspacing="0" style="width:570px">
										<tbody>
											<tr>
												<td>
												<p>Dear {{name}},</p>

												<p>Welcome to Transportapp!</p>
												
												<p></p>

												<p>Below are your log-in credentials:</p>

												<p>Username:  <b>{{username}}</b></p>
												<p>Password:{{password}}</p>
																					
												<p>We look forward to our partnership in promoting a zero-waste community!</p>


												</td>
											</tr>
										</tbody>
									</table>

									<table border="0" cellpadding="10" cellspacing="0" style="width:570px">
										<tbody>
											<tr>
												<td>
												<p>
												Best Regards,</p>

												<p>Bridgit Team</p>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td style="background-color:#1981ba">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>
