<div class="full-height">
    <div class="table-box">
        <div class="table-box-cell">
            <div class="width400">
                <div class="form-box">
                    <div class="alert alert-danger" ng-if="messageError">
                        <strong>Error!</strong> {{messageError}}
                    </div>
                    <div class="alert alert-success" ng-if="messageSucess">
                        <strong>Success!</strong> {{messageSucess}}
                    </div>
                    <div class="header" style="color: white;">Admin Reset Password</div>
                    <form name="resetForm">
                        <div class="body bg-gray">
                            <div class="form-group">
                                <input type="password" name="newpassword" class="form-control" placeholder="New Password" ng-model='reset.newPassword' maxlength="20" />
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" ng-model='reset.confirmPassword' maxlength="20" />
                                <p style="color: red" ng-if="reset.newPassword != reset.confirmPassword">New password and confirm passowrd should match!</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button type="submit" ng-disabled="resetForm.$invalid || reset.newPassword != reset.confirmPassword || !resetForm.newpassword.$viewValue || !resetForm.confirmpassword.$viewValue" class="btn bg-olive btn-block" name="resend" ng-click="resetPassword()">Reset Password</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
