<style type="text/css">
.content-wrapper,
.right-side,
.main-footer {
    margin-left: 0px !important;
    transition: transform 0.3s ease-in-out 0s, margin 0.3s ease-in-out 0s;
    z-index: 820;
}

</style>
<div class="login-box" data-ng-init="noHeader()">
    <div class="login-logo" ng-show='userLoggedIn==false'>
        <!-- <img src="images/logo.png"  alt="logo" style="height:40px"/> -->
        <b>Package Delivery App</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" ng-show='userLoggedIn==false'>
        <p class="login-box-msg">Reset Password</p>
        <form name="reset_form" role="form" id="login_form" novalidate>
            <!--  <span style="color:red" ng-show="error" >
                            {{error}}
                    </span> -->
            <div ng-class="alerttype" ng-show="showmessage">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
            <div class="form-group has-feedback">
                <input type="password" name="newpwd" class="form-control" placeholder="New Password" ng-model='newpwd' required ng-minlength="5" ng-maxlength="15" />
                <span style="color:red" ng-show="reset_form.newpwd.$dirty && reset_form.newpwd.$invalid">
<span ng-show="reset_form.newpwd.$error.required">Please enter new password.</span>
                <span ng-show="reset_form.newpwd.$error.minlength">Please enter at least 5 characters.</span>
                <span ng-show="reset_form.newpwd.$error.maxlength">Please enter maximum 15 characters.</span>
                </span>
                <span class="glyphicon glyphicon-lock  form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="cnfpwd" class="form-control" placeholder="Confirm Password" ng-model='cnfpwd' required compare-to="newpwd" />
                <span style="color:red" ng-show="reset_form.cnfpwd.$dirty && reset_form.cnfpwd.$invalid">

<span  ng-show="reset_form.cnfpwd.$invalid && !reset_form.cnfpwd.$pristine" >Passwords don't match. </span>
                </span>
                <span class="glyphicon glyphicon-lock  form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" name="resend" ng-click="resetPost()" ng-disabled="reset_form.$invalid">Reset Password</button>
                </div>
                <div class="col-xs-6"> <a href="/#/login" class="btn btn-primary btn-block btn-flat ">Cancel</a></div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
